.navbar {
  color: #66370c; 
}

.navbar .nav-links a:hover,
.navbar .book-now-btn:hover {
  color: #a0522d;
}

.book-now-btn {
  transition: background-color 0.3s ease-in-out;
}

.book-now-btn:hover {
  background-color: #ff5f6d;
}

.active {
  color: rgb(14, 121, 14);
  font-weight: 600;
}