.navbar {
  background-color: white;
  color: #66370c; /* Brown text color */
}

.navbar .nav-links a:hover,
.navbar .book-now-btn:hover {
  color: #a0522d; /* Lighter brown on hover */
}

.book-now-btn {
  transition: background-color 0.3s ease-in-out;
}

.book-now-btn:hover {
  background-color: #ff5f6d;
}