/* Slideshow container */
#slide-container {
    position: relative;
    max-width: 100%; /* Full width for responsiveness */
    overflow: hidden; /* Prevent overflow of images */
}

/* First element to be in block mode for responsiveness */
#slide-first-element {
    display: block; /* to get the dimensions set */
    width: 100%;
    height: 100%; /* Set to full height */
}

/* Other element to be in absolute position */
#slide-element-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Style images */
.slide-image {
    width: 100%;
    object-fit: cover; /* Maintain aspect ratio */
}

/* Style text */
.slide-text {
    color: white;
    width: 100%;
    font-size: 1.5rem;
}

#slide-first-element {
    animation: fade-1 12s ease-in-out infinite; 
}

#slide-element-2 {
    animation: fade-2 12s ease-in-out infinite; 
}

@keyframes fade-1 {
    0% { opacity: 1; }    
    40% { opacity: 1; }  
    50% { opacity: 1; }  
    100% { opacity: 0; }  
}

@keyframes fade-2 {
    0% { opacity: 0; }    
    50% { opacity: 0; }   
    60% { opacity: 1; }   
    100% { opacity: 1; }  
}

/* Hide dots */
.slick-dots {
    display: none; /* Hide dots */
}
