.footer-container {
    background-color: #492a05;
    color: white;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
  }
  
  .footer-bottom p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.7);
  }  